.faculty-pic{
    float: left;
    width: 30%
}
.faculty-pic img{
    box-shadow: 0 30px 30px rgba(0,0,0,.9); 
     width: 260px;height:280px;
    opacity: 1;
    border-radius: 20px;

}
.faculty-pic img:hover{
     width: 280px;height: 300px;
    transition: 1s;
    opacity: 1;
    border-radius: 50%;

}
.faculty-properties{
    padding-left: 100px;
    margin-left: 150px;
}
.big-block{
    padding-left: 30px;
}
.faculty-property-list{
    list-style-type: none;
}
.faculty-property-inner-list{
    list-style-type: square;
}
.faculty-description{
    swidth: 100%
    float: right;

}
.grid-container{
    background:#000 ;
    padding:40px;
    margin-bottom: 40px;
    
    /* background-color: blueviolet; */
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}
.col-lg-3{
   margin-top:10px;}
.grid-container:hover{
    border: 2.5px solid white;
    padding:55px;
    background: #181818;
    
    transition: .6s; 
    margin-left: 8px;
    margin-right: 8px; 
}
p{
    font-size: 18px;
}

/* .faculty-name{
    color: blueviolet !important;
} */

.text-center {
    font-family: Cyberfall;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 4px grey;
    color: white;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 50px;
}

hr{
    color: white;
}
@media only screen and (max-width:760px)
{
 .faculty-pic{
        float:center;}

}
