.faculty-pic{
    float: left;
    width: 30%
}
.faculty-pic img{
    width: 230px;height: 260px;
    margin-bottom: 18px;
    box-shadow: 0 30px 30px rgba(0,0,0,.9); 
    border-radius:4px;
    opacity: 1;

}.faculty-pic img:hover{
    width: 260px;height: 300px;
    transition: 1.3s;
    opacity: 1;
    border-radius: 40%;
}
.faculty-properties{
    padding-left: 100px;
    margin-left: 150px;
}
.big-block{
    padding-left: 30px;
}
.faculty-property-list{
    list-style-type: none;
}
.faculty-property-inner-list{
    list-style-type: square;
}
.faculty-description{
    swidth: 100%
    float: right;

}
.grid-container{
    background-color: #000;
    padding:40px;
    margin-bottom: 40px;
    
    /* background-color: blueviolet; */
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
}
.grid-container:hover{
    border-top:2.5px solid white;
    border-bottom: 2.5px solid white;
    padding:55px;
    background: #181818;
    opacity: .9;
    transition: 1s;


     
}
p{
    font-size: 18px;
}

/* .faculty-name{
    color: blueviolet !important;
} */

.text-center {
    font-family: Cyberfall;
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 4px grey;
    color: white;
    font-weight: 500;
    line-height: 1.5;
}

hr{
    color: white;
}
