<!DOCTYPE html>
<html lang="en">

<head>

	
    {% load static %}
    
{% block style %}{% endblock %}
{% block css %}
	<title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		 

		 <link rel="stylesheet" href="{% static 'css/cr-form/pro-cr-form.css' %}" type="text/css" media="all">
		 <style>
				.btn{
					vertical-align: 0%;
				}
			</style>

    <!-- bootstrap-css -->

    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/homepage3/style.css' %}" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'css/homepage3/flexslider.css' %}" type="text/css" media="screen" property="" />

    <!--// css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="{% static 'css/contact/contact.css' %}">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700" rel="stylesheet">
    <!-- //font -->
    <script src="{% static 'js/jshome/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/jshome/bootstrap.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/college_events/event.css' %}">
{% endblock %}
</head>

<body>
        
                {% block additional %}
            
                {% endblock %}
            
                    {% block image %} 
                    
                    
                {% endblock %}
            
            
                {% block navbar %}
                <div class="head">
                    
                        <div class="container">
                            <div class="navbar-top">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <div class="navbar-brand logo ">
                                        <h1><a href="{% url 'index' %}">Party Time</a></h1>
                                    </div>
                
                                </div>
                
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav link-effect-4">
                                        <li class=" first-list"><a href="{% url 'index' %}">Home</a></li>
                                        <li class=" first-list"><a href="{% url 'events' %}">events</a></li>
                                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Student Gallery</span><span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li class=" first-list"><a href="{% url 'secondstudentpage' %}">Second Year</a></li>
                                                <li class=" first-list"><a href="{% url 'thirdstudentpage' %}">Third Year</a></li>
                
                                            </ul>
                                        </li>
                
                
                                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Forms</span><span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li class=" first-list"><a href="{% url 'crform' %}">CR FORM</a></li>
                                                <li class=" first-list"><a href="{% url 'cseform' %}">Mr and Miss CSE</a></li>
                
                                            </ul>
                                        </li>
                                        <li class=" first-list"><a href="{% url 'contact' %}">contact us</a></li>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                        
                            </div>
                        </div>
                </div>
                {% endblock %}
            
            {% block body %}
            {% endblock %}
            </body>
            
            </html>