{% extends "base.html" %}
{% load static %}


<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Batch</title>

 
    </head>
    <body>
        	{% block image %}
	<img src="{% static 'img/college_events/bg.png' %}" id="bg" alt="" style=" z-index: -50;">
    {% endblock %}
    
    
     {% block additional %}
        <div class="btn">
                    <a href="/students/email" style="position:top">
                        <button>Upload your photo</button>
                     </a>
            </div>
    {% endblock %}

    {% block body %}
    <link href="{% static 'css/student_profile/student_profile.css' %}" rel="stylesheet" id="bootstrap-css">

            {% with index='a' %}
                                            <h1>{{ index }}</h1>
                                            {% endwith %}
            <div class="row mt-30">
            {% if set|length != 0 %}
            {% for i in set %}
            
            {% for j in i %}
            <div class="col-md-4 col-sm-6">
                    <div class="box16">
                        <img src= "{% static  j.upload|get_path  %}" height="42" width="42">
                        <div class="box-content">
                            <h3 class="title">{{ j.name }}</h3>
                            <span class="post">{{ j.email|id_extract}}</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="www.instagram.com/{{ j.insta_handle }}"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            {% endif %}
            {% for i in remaining %}
            <div class="col-md-4 col-sm-6">
                    <div class="box16">
                        <img src=" {% static  i.upload|get_path  %}">
                        <div class="box-content">
                            <h3 class="title">{{ i.name }}   </h3>
                            <span class="post">{{i.email|id_extract}}</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/{{ j.insta_handle }}"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>

        </div>
    
        
{% endblock %}
    </body>
</html>