{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="{% static 'css/student_profile/student_profile.css' %}" rel="stylesheet" id="bootstrap-css">
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Batch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .btn{
            vertical-align: 0%;
        }
    </style>
    </head>
    <body>
            
        <div class="btn">
                    <a href="/students/upload" style="position:top">
                        <button>Upload your photo</button>
                     </a>
            </div>
            <div class="row mt-30">
            {% if set|length != 0 %}
            {% for i in set %}
            
            {% for j in i %}
            <div class="col-md-4 col-sm-6">
                    <div class="box16">
                        <img src= "{% static  j.upload|get_path  %}">
                        <div class="box-content">
                            <h3 class="title">{{ j.name }}</h3>
                            <span class="post">{{ j.email|id_extract}}</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="www.instagram.com/{{ j.insta_handle }}"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            {% endif %}
            {% for i in remaining %}
            <div class="col-md-4 col-sm-6">
                    <div class="box16">
                        <img src=" {% static  i.upload|get_path  %}">
                        <div class="box-content">
                            <h3 class="title">{{ i.name }}   </h3>
                            <span class="post">{{i.email|id_extract}}</span>
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/{{ j.insta_handle }}"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>

        </div>
    
        

    </body>
</html>